! special
*.foreground:   #746c48
*.cursorColor:  #746c48

URxvt.font: xft:Inconsolata:size=12

! black
*.color0:       #392925
*.color8:       #544b2e

! red
*.color1:       #98724c
*.color9:       #af652f

! green
*.color2:       #908f32
*.color10:      #c3c13d

! yellow
*.color3:       #aa964c
*.color11:      #c8b55b

! blue
*.color4:       #7b854e
*.color12:      #70a16c

! magenta
*.color5:       #6b5644
*.color13:      #98724c

! cyan
*.color6:       #5c5142
*.color14:      #778725

! white
*.color7:       #c8b55b
*.color15:      #e4dc8c

urxvt*transparent: true
urxvt*tintcolor: #170f0d
urxvt*shading: 25

URxvt.scrollBar: false


rofi.lines:4
rofi.color-normal:#00ffffff,#739032,#00ffffff,#c0964c,#170f0d
rofi.color-window:#cc392925,#cc392925,#cc392925
rofi.padding:400
rofi.width:100

